:root {
    // --background-color: #e6e5e0;
    // --particle-color: #003636;
    // --second-color: #c92020;

    --background-color: #f2f2f2;
    --particle-color: black;
    --second-color: #c92020;
}
